DATABASE_URL="postgresql://user:password@host:5432/dokagen_db"
REDIS_URL=""
JWT_SECRET="ganti-dengan-string-random-panjang"
JWT_REFRESH_SECRET="ganti-dengan-string-random-panjang-lain"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3001
NODE_ENV="production"
STORAGE_URL=""
STORAGE_BUCKET="dokagen-files"
STORAGE_KEY=""
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
EMAIL_FROM="DokaGen <noreply@dokagen.id>"
CLIENT_URL="https://your-vercel-url.vercel.app"
